html *
{
   font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', 'sans-serif' !important;
}
header { 
    padding-top: 60px;
    padding-bottom: 20px;
}
 .card{
     display: flex;
    align-items: flex-end;
 }
 body {
    background: url('/photos/stars_background.png.crdownload') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }
  #content {
      background-color: rgba(255, 255, 255, 0.705);
      background-blend-mode: soft-light;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 10px;
  }
  footer{
    padding-top: 60px;
  }
  .carousel-inner{
    transition: transform transition-duration ease-in-out;
  }
  .carousel-inner img{
    max-block-size: 60vh;
    max-height: 70vh;
  }
  .carousel-inner h3{
    margin-top: 20%;
    margin-right: 50%;
  }
  .accordion{
  transition: 0.4s;
  padding-top: 15px;
  width: 40vw;
}

.accordion-button:hover {
  background-color: ghostwhite !important;
}

#hint {
  padding-left: 18px;
  background-color: rgba(255, 255, 255, 0.534);
  width: 40vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#favorite-song img{
  max-block-size: 100px;
  float:right;
  padding-right: 10vw;
}
#guess{
  width: 30vw;
  outline-style:groove;
}
.fancy h2{
    display: grid;
    grid-template-columns: 200px max-content 200px;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
    }

    .fancy:after,.fancy:before {
    content: " ";
    display: block;
    border-bottom: 3px solid #000000d8;
    }
    .fancy::before{
      padding-bottom: 20px;
    }

  .card{
    align-items: stretch; 
    background:rgba(255, 255, 255, 0.24);

  }
  .card-body{
    padding-left: 50px;
    padding-right: 50px;
  }

  .list-inline{
    text-align: center;
  }
  .list-inline-item a{
    text-decoration: none;
    font-weight:500;
    color: black;

  }
  .list-inline-item a:hover{
    font-size: 110%;
  }
#submit-button{
  text-align: center;
}

#main-title-home, #main-title-part2{
  color: ivory;
    font-size: 10vw;
    animation-duration: 3s;
    animation-name: slidein;
  }
  #main-title-part2{
    animation-delay: .3;
  }

  @keyframes slidein {
    from {
      margin-top: 100%;
      height: 300%;
    }
  
  
    to {
      margin-top: 0%;
      height: 100%;
    }
  }

